:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --strong-cyan-shadow: #1aa18b;
  --light-blue-shadow: #5063e1;
  --strong-cyan-active: #5ccdbb;
  --light-blue-active: #8897fe;
  --strong-cyan-shadow-active: #54b8a6;
  --light-blue-shadow-active: #7d89e4;
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --light-gray: #f4f6f9;

  font-family: "Bai Jamjuree", sans-serif;
}

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 80%;
  max-width: 1400px;
}

h1,
h2,
h3 {
  color: var(--dark-grayish-blue);
}

p {
  color: var(--grayish-blue);
  font-size: 0.98rem;
  line-height: 1.6em;
}

/* -------------- header ---------------- */

header {
  /* background-image: url(../src/img/bg-header-mobile.png); */
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6em 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

header .logo-img {
  width: 7rem;
  margin-bottom: 2em;
}

header h1 {
  font-size: 1.9rem;
}

/* -------------- download-links ---------------- */

.download-links {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.download-links a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 0.8em 2em;
  margin: 1.3em 0;
  border-radius: 50px;
  width: auto;
}

.ios-link {
  background-color: var(--strong-cyan);
  box-shadow: 0 0.2em var(--strong-cyan-shadow);
}

.mac-link {
  background-color: var(--light-blue);
  box-shadow: 0 0.2em var(--light-blue-shadow);
}

.download-links a:hover a:focus {
  transform: translateY(-3px);
  transition: ease all 0.3s;
}

.ios-link:hover,
a:focus {
  background-color: var(--strong-cyan-active);
  box-shadow: 0 0.2em var(--strong-cyan-shadow-active);
}

.mac-link:hover,
a:focus {
  background-color: var(--light-blue-active);
  box-shadow: 0 0.2em var(--light-blue-shadow-active);
}

@media screen and (min-width: 700px) {
  header {
    background-image: url(../src/img/bg-header-desktop.png);
  }
}

@media screen and (min-width: 1000px) {
  :root {
    font-size: 18px;
  }
}

p {
  width: 60%;
  margin: auto;
}
